/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}

/* header */
header {
    height: 550px;
    background-color: #2A4F75;
    background-image:url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 62% auto;
    background-position: 111% bottom;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    height: 80px;
    line-height: 80px;
}

.header-logo {
    width: 15%;
    height: 100%;
}

.header-logo img {
    vertical-align: middle;
}

.nav-left {
    width: 45%;
}

.list-inline {
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}

.list-inline a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

.list-inline a:hover {
    color: #7eb705;
}

.green-btn:hover {
    background-color: white;
    color: #7eb705;
}

.nav-right {
    width: 40%;
    text-align: right;
}

/* buttons */

.btn {
    display: inline-block;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.blue-btn {
    background-color: #2A4F75;
    border: 1px solid white;
    line-height: 20px;
}

.green-btn {
    background-color:#7eb705;
    border: 1px solid #7eb705;
    line-height: 20px;
}

.btn-lg {
    padding: 20px;
}

/* jumbotron-content */

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.jumbotron {
    position: relative;
    width: 52%;
    height: 550px;
}

.jumbo-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
/* main */

/* banner */

.banner {
    position: relative;
    height: 130px;
    background-color: lightgray;
    margin-bottom: 30px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner-text > h2 {
    font-size: 30px;
    font-weight: 00;
    margin-bottom: 10px;
}

.banner-text > p {
    font-size: 16px;
    color: gray;
}

/* section a 3 colonne */

.sections3 {
    height: 450px;
}

.left3,
.middle3,
.right3 {
    width: 33%;
    height: 100%;
    padding: 0 20px;
}

.section-img {
    height: 50%;
    text-align: center;
}

.left3 .section-img img {
   width: 50%;
}

.middle3 .section-img img {
    width: 80%;
}

 .right3 .section-img img {
    width: 60%;
}

.content {
     text-align: center;
    }

.content h3 {
     color: #7eb705;
     font-size: 25px;
     margin-bottom: 30px;
    }

.content p {
     color: gray;
     font-size: 15px;
    }

/* section a 2 colonne */

.sections2 {
        height: 450px;
        margin-top: 20px;
    }

.left2,
.right2 {
    width: 50%;
    height: 100%;
}

.left2 {
    background-image: url(../img/mountain.svg);
    background-size: 80%;
    background-repeat: no-repeat;
}

.right2 {
    position: relative;
}

.right2 .sections2-content {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 80%;
}

.sections2-content h2 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
}

.sections2-content p {
    font-size: 20px;
    color: gray;
    padding-bottom: 20px;
}

.sections2-content a {
    font-size: 15px;
    color:#045ea5;
}

/* footer */

footer {
    position: relative;
    height: 170px;
    background-color: lightgray;
}

.container > h2 {
    position: relative;
    top: 60px;
    font-size: 32px;
    font-weight: 500;
}

.right-btn {
    float: right;
}

span {
    color: gray;
}

.help {
    position: fixed;
    right: 14%;
    bottom: 0;
    margin-top: 15px;
}




